.header {
	
}
.header a {
	text-decoration: none;
	color: black;
	margin-left: 10px;
	margin-right: 10px;
}
.header ul li {
	display: inline-block;
	margin: 5px 10px 5px 10px;
}
#logo {
    position: absolute;
    left: 50%;
	margin-left: -64px;
	border-radius: 50%;
	width: 112px;
	height: 112px;
	background-color: #a65560;
	margin-bottom: 0px;
}
.slideshow img {
	border: 2px solid black;
	width: 1900px; 
	height: 550px;
	margin-top: 224px;
}
#pinterest {
	border-radius: 50%;
	width: 87px;
	height: 87px;	
	background-color: #a65560;
	position: absolute;
	left: 20%;
}
.twitter {
	border-radius: 50%;
	width: 87px;
	height: 87px;	
	background-color: #a65560;
	position: absolute;
	left: 40%;
}
.facebook {
	border-radius: 50%;
	width: 87px;
	height: 87px;	
	background-color: #a65560;
	position: absolute;
	left: 60%;
}
.instagram {
	border-radius: 50%;
	width: 87px;
	height: 87px;	
	background-color: #a65560;
	position: absolute;
	left: 80%;
}