.header {
	
}
.header a {
	text-decoration: none;
	color: black;
	margin-left: 10px;
	margin-right: 10px;
}
.header ul li {
	display: inline-block;
	margin: 5px 10px 5px 10px;
}
#logo {
    position: absolute;
    left: 50%;
	margin-left: -64px;
	border-radius: 50%;
	width: 112px;
	height: 112px;
	background-color: #a65560;
	margin-bottom: 0px;
}
.menu {
	position: absolute;
	left: 34%;
	margin-top: 44px;
}
.idea_center {
	position: absolute;
	left: 39%;
	margin-top: 44px;
}
.shop {
	position: absolute;
	right: 44%;
	margin-top: 44px;
}
.find_us {
	position: absolute;
	right: 36%;
	margin-top: 44px;
}
.slideshow img {
	border: 2px solid black;
	width: 100%; 
	height: 21%;
	margin-top: 224px;
}
#page {
	margin-top: 22px;
}
.img1 {
	margin-left: 28%;
	float: left;
	height: 13%;
	width: 492px;
	margin-top: 20px;
}
.img2 {
	float: right;
	margin-right: 25%;
	height: 16%;
	margin-top: 20px;
}
.img2 {
	margin-left: 28%;
	float: left;
}
.img3 {
}
.img4 {
}
.img5 {
}
.img6{
	float: right;
	margin-right: 25%;
}
#pinterest {
	border-radius: 50%;
	width: 87px;
	height: 87px;	
	background-color: #a65560;
	position: absolute;
	left: 20%;
	margin-top: 2516px;
}
.twitter {
	border-radius: 50%;
	width: 87px;
	height: 87px;	
	background-color: #a65560;
	position: absolute;
	left: 40%;
	margin-top: 2516px;
}
.facebook {
	border-radius: 50%;
	width: 87px;
	height: 87px;	
	background-color: #a65560;
	position: absolute;
	left: 60%;
	margin-top: 2516px;
}
.instagram {
	border-radius: 50%;
	width: 87px;
	height: 87px;	
	background-color: #a65560;
	position: absolute;
	left: 80%;
	margin-top: 2516px;
}